html
  head
    style.
      .container{
      width: 300px;
      }
      .display-4{
      text-align: center;
      }
  body
    h1.display-4 Student Login
    br
    .container
      form
        .form-group
          label(for='std_regno') Registration Number
          input#std_regno.form-control(type='text')
        .form-group
          label(for='std_password') Password
          input#std_password.form-control(type='password')
        button.btn.btn-primary(ng-click="std_login()") Login
        a(ui-sref= 'std-reg')
          |   Register
