html
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
    style.
      .display-4{
      text-align: center;
      }
      .table{
      width: 50%:
      }
      .container{
      width: 50%;
      }
      .body{
      padding-top: 70px;
      }
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='admin-dashboard')
            | Student List
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='staff-list')
            | Staff List
            span.sr-only
        li.nav-item
          a.nav-link(href='#')
            | Feedback
            span.sr-only
    .container
      h1.display-4 Staff Feedback
      br
      table.table.table-borderless
        tbody
        thead
          tr
            th Name
            th Staff ID
            th Score
        tbody
          tr
            td Ashwin
            td 105894
            td 35
          tr
            // Details of Feedback from database
